*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 80%;
  margin: auto;
  background-color: map-get($colores, color-background);
  color: black;
}
ul {
  width: 100%;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
input[type='checkbox']:checked ~ .checked {
  opacity: 1;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}